.dropdown-submenu {
    position: relative;
    background-color: var(--mainBlack);
}

.dropdown-submenu > .dropdown-menu {
    background-color: var(--mainBlack) !important;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

/*.dropdown-submenu > a:after {*/
/*display: block;*/
/*content: " ";*/
/*float: right;*/
/*width: 0;*/
/*height: 0;*/
/*border-color: transparent;*/
/*border-style: solid;*/
/*border-width: 5px 0 5px 5px;*/
/*border-left-color: #ccc;*/
/*margin-top: 5px;*/
/*margin-right: -10px;*/
/*color: var(--mainOrange) !important;*/
/*}*/

/*.dropdown-submenu:hover > a:after {*/
/*border-left-color: #fff;*/
/*}*/

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-item:hover{
    color: var(--mainOrange)!important;
    background-color: var(--mainBlack);
}

.custom {
    border: 2px solid;
    border-top-color: var(--mainBlue);
    border-bottom-color: var(--mainBlue);
    border-right-color: var(--mainOrange);
    border-left-color: var(--mainOrange);
    color: var(--mainWhite);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
.custom:hover{
    color: var(--mainOrange);
}
