:root {
    --mainWhite: #FFFFFF;
    --mainBlack: black;
    --mainGrey: #1f1e1e;
    --mainOrange: rebeccapurple;
    --mainBlue: #524be5;
}

.black {
    color: var(--mainBlack);
}

.purple {
    color: var(--mainOrange);
}

.blue {
    color: var(--mainBlue);
}

.black-bg {
    background-color: var(--mainBlack);
}

.purple-bg {
    background-color: var(--mainOrange);
}

.blue-bg {
    background-color: var(--mainBlue);
}

body {
    font-family: Parastoo !important;
}


.main {
    background-color: var(--mainGrey);
    min-height: 513px;
}

.welcome-text {
    color: var(--mainOrange);
}

.brand-title {
    color: var(--mainOrange);
    margin-right: 10px;
}

#navBar {
    background-color: var(--mainBlack);
    border-bottom: 2px solid var(--mainOrange);
}

.navbar-toggler-icon {
    color: var(--mainOrange);
}

.nav-link {
    font-size: 20px;
    font-weight: bold;
    color: var(--mainWhite);
    text-transform: capitalize;
}

.nav-link:hover {
    color: var(--mainOrange);
    transition: all 0.5s;
    border-bottom: 1px solid;
    border-bottom-color: var(--mainOrange);
}


/*gallery section*/
.gallery-item {
    background: var(--mainOrange);
    position: relative;
    cursor: pointer;
}


@media (max-width: 992px) {
    .text-dynamic {
        font-size: 20px;
    }
}

/**/

.choose-field h3 {
    color: var(--mainWhite) !important;
}

.gallery-img {
    transition: all 0.75s ease-in-out;
}

.gallery-item:hover .gallery-img {
    opacity: 0.5;
}

.gallery-item::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 0.5rem solid var(--mainWhite);
    outline-offset: -2rem;
    transition: all 0.75s ease-in-out;
    transform: scale(0);
}

.gallery-item:hover:after {
    transform: scale(1);
}


/*=======================*/
/*categoru images*/
.img-container {
    /*background: var(--mainOrange);*/
    position: relative;
    overflow: hidden;
}

.feature-photo {
    transition: all 0.5s ease-in-out;
}

.img-container:hover .feature-photo {
    transform: scale(1.2);
    opacity: 0.7;
}

.img-container:hover .feature-link {
    opacity: 1;
}

/*end-categoru images*/

/*=======================*/

/*slider*/

.car-card {
    max-height: 450px !important;
    height: 450px !important;
    background-color: var(--mainBlack) !important;
    outline: none;
}

.car-card a{
    outline: none;
}

.slider-img {
    width: 100% !important;
    height: 300px;
    outline: none;
}

.my-btn {
    background-color: var(--mainBlack);
    color: var(--mainWhite);
}

.my-btn:hover {
    background-color: var(--mainOrange);
    color: var(--mainWhite);
    border: 1px solid var(--mainWhite);
}


/*end-slider*/

/*footer*/
.footer {
    background-color: var(--mainBlack);
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.footer-txt:hover {
    text-decoration: none;
    color: var(--mainOrange)!important;
    transition: 1s;
}

.footer h1 {
    color: var(--mainWhite);
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

/*footer*/

/*login*/

.modal-header {
    background-color: var(--mainOrange);
}

.modal-body {
    background-color: var(--mainGrey);
}


.login-text {
    color: var(--mainOrange);
    font-size: 2rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
}

.input {
    background: transparent !important;
    border: 2px var(--mainWhite) solid !important;
    /*border-bottom: 1px var(--mainOrange) solid !important;*/
    border-radius: 15px !important;
    color: var(--mainOrange) !important;
    display: block;
    padding: .5rem;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);
}

.login-submit:hover {
    background: var(--mainOrange) !important;
    color: var(--mainWhite) !important;
    border: 2px solid var(--mainBlack) !important;
}

.rem, .forg {
    color: var(--mainOrange) !important;
}

.forg:hover {
    color: var(--mainWhite) !important;
}

/*user-dropdown*/
.user-dropdown {
    background-color: var(--mainBlack) !important;
}

.user-dropdown a {
    color: var(--mainWhite);
    font-size: 15px;
    font-weight: bold;
}

.userFullname{
    font-size: 16px;
    font-weight: bolder;
}


.have-error {
    border: 1px solid red !important;
}

.error {
    color: red !important;
}

/*card*/
.trash-btn {
    cursor: pointer;
}

.custom-btn {
    border-radius: 45%;
    padding: 1rem;
    color: blueviolet !important;
    font-size: 1.3rem;
}

.custom-btn:hover {
    border: 1px solid blueviolet;
    background-color: var(--mainWhite);
    color: blueviolet;
}

.product-count {
    background-color: var(--mainOrange);
}

.product-property {
    background-color: var(--mainBlue);
}

/*preloader*/
.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--mainGrey);
    z-index: 999;
}

.hidePreloader {
    display: none !important;
}



/*product-gallery-popup-slide*/
.thumb {
    margin-bottom: 15px;
}

.thumb:last-child {
    margin-bottom: 0;
}

/* CSS Image Hover Effects: https://www.nxworld.net/tips/css-image-hover-effects.html */
.thumb figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.thumb figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

/*tags*/
.tags span{
    font-weight: bold;
    font-size: 22px;
    color: var(--purple);
}

.tags a{
    text-decoration: none;
}

/*trainers*/
.trainer h6{
    font-weight: bold;
}
.trainer a{
    text-decoration: none;
}


/*products*/
.products-card{
    border-radius: 15px !important;
    /*max-height: 480px;*/
    /*height: 480px;*/
    background-color: var(--mainBlack);
}
.products-card img{
    width: 100%;
    height: 300px;
}
.add-too-card{
    border: 1px solid blueviolet;
}

.add-too-card:hover{
    border: 1px solid blueviolet;
    background-color: var(--mainWhite);
    color: blueviolet;
}

/* emptyBasket */
@media (max-width: 700px) {
    .emptyBasket {
        height: 128px !important;
    }
}


/*strikethrough*/
 .strikethrough {
     position: relative;
 }
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 2px solid #dd0031!important;
    border-color: inherit;

    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}
