.search {
    height: 65px;
}
.banner{
    background: rgb(82,75,229);
    background: linear-gradient(90deg, rgba(82,75,229,1) 20%, rgba(102,51,153,1) 51%)
}


.container2 .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: var(--mainOrange);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.container2 .search:hover {
    cursor: pointer;
}

.container2 .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
}

.container2 .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
}

.container2 input {
    font-family: "Inconsolata", monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: var(--mainOrange);
    color: white;
    text-shadow: 0 0 10px var(--mainOrange);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 var(--mainOrange), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.container2 input:hover {
    cursor: pointer;
}

.container2 input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

.container2 input:focus ~ .search {
    right: -250px;
    background: #524be5;
    z-index: 6;
}

.container2 input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.container2 input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.container2 input::-moz-placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

.container2 input:-ms-input-placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

.container2 input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}

@media (max-width: 767px) {
    .search {
        height: 50px;
    }

    .container2 .input{
        width: 40px;
        height: 40px;
    }

    .container2 .search{
        width: 40px;
        height: 40px;
    }
    .container2 .search::before{
        content: "";
        position: absolute;
        margin: auto;
        right: 0;
        bottom: 0;
        background: white;
        transform: rotate(45deg);
        transition: all 0.5s;
        top: 16px;
        left: 16px;
        width: 10px;
        height: 2px;
    }

    .container2 .search::after{
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 18px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all 0.5s;
    }

    .container2 input {
        font-family: "Inconsolata", monospace;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        background: var(--mainOrange);
        color: white;
        text-shadow: 0 0 10px var(--mainOrange);
        padding: 0 80px 0 20px;
        border-radius: 30px;
        box-shadow: 0 0 25px 0 var(--mainOrange), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        font-weight: bolder;
        letter-spacing: 0.1em;
    }
}

